
.movie-card {
  width: 75%;
  margin-bottom: 20px;
  background-color: #121212;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: transform 0.3s ease, filter 0.3s ease;
}

.movie-card:hover {
  transform: scale(1.05);
  filter: brightness(1.2);
}

.movie-card img {
  width: 100%;
  border-radius: 8px;
  margin-bottom: 10px;
}

.movie-card div {
  color: #fff;
}



