
.genre-container {
  display: flex;
  justify-content: center;
  background-color: #121212;
}


.genre-card {
  width: 100%;
  padding: 20px;
  background-color: #333333;
  border: 1px solid #070606;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.genre-card:hover {
  background-color: #ff6600;
}


.genre-text {
  margin: 0;
  font-size: 24px;
  color: #ffffff;
  text-align: center;
}
