/* Стилізація інпуту для пошуку */
#search-input {
  background-color: #121212;
  color: #fff;
  border: none;
  padding: 10px;
  border-radius: 5px;
}

/* Стилізація кнопки пошуку */
#search-button {
  background-color: #333;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#search-button:hover {
  background-color: #ff6600;
}
