.movie-card {
  display: inline-block;
  width: 200px;
  margin: 10px;
  background-color: #121212;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  cursor: pointer;
  color: #ffffff;

  &:hover {
    transform: translateY(-5px);
  }

  .poster {
    img {
      width: 100%;
      height: auto;
    }
  }

  .title, .rating {
    padding: 8px;
  }
}
